﻿@model Employee
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <pre>
    ID:@Model.Id
    Name:@Model.Name
    Email:@Model.Email
    Salray:@Model.Salary
    Role: @Model.Designation
    Location:@Model.Location

</pre>
    <a asp-action="Index">back to Main</a>
</div>


