﻿@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create">Create New Student</a>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Eamil</th>
                <th>Salary</th>
                <th>Role</th>
                <th>Location</th>
            </tr>
        </thead>
        @foreach(var item in Model)
            {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@item.Salary</td>
        <td>@item.Designation</td>
        <td>@item.Location</td>
        <td>
            <a asp-action="Details" asp-route-Id="@item.Id">Details</a>
        </td>
        <td>
            <a asp-action="Update" asp-route-Id="@item.Id">Update</a>
        </td>
    </tr>
            }
    </table>
</div>



