﻿@model Employee
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form asp-action="Edit">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="Id">ID</label>
                    <input type="text" asp-for="Id" class="form-control" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <label asp-for="Name">Employee Name</label>
                    <input type="text" asp-for="Name" class="form-control" value="@Model.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="text" asp-for="Email" class="form-control" value="@Model.Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Salary">Salary</label>
                    <input type="number" asp-for="Salary" class="form-control" value="@Model.Salary" />
                </div>
                <div class="form-group">
                    <label asp-for="Designation">Role</label>
                    <input type="text" asp-for="Designation" class="form-control" value="@Model.Designation" />
                </div>
                <div class="form-group">
                    <label asp-for="Location">Location</label>
                    <input type="text" asp-for="Location" class="form-control" value="@Model.Location" />
                </div>
                <button type="submit" class="btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>

